---
layout: contained
title: Our Team
description: Learn more about our owners and our amazing team of professional stylists, artists, and support staff.
---

<section class="site-section team-section next-section-indicator text-center" id="our-team">
    <div class="d-flex-row mb-3">
        Learn more about our talented team of professional cosmetologists and support staff below.
    </div>
    <div class="d-flex-row text-muted">
        <em>(or visit our <a href="{{ site.url }}{{ site.baseurl }}/careers">careers page</a> if you are interested in opportunities to collaborate or join our team)</em>
    </div>
</section>

{% include sections/team-owners.html %}
{% include sections/team-others.html %}