<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About Us
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Striving to be the best
    </h3>
    <blockquote cite="{{ site.baseurl }}">
      Lisa Cardillo is a master hair stylist and colorist who is licensed in New York, Maryland, and Florida.
      She currently owns and operates <a href="https://toughlove.salon">Tough Love Salon</a> in Severna Park, MD.
      This website is for the new salon that she is opening in Cocoa, FL alongside her husband at the <a href="https://cocoacolorlab.com">Cocoa Color Lab</a>.
    </blockquote>
  </div>
</section>