<section class="site-section core-values-section text-center" id="core-values">
  <header class="section-header">
    <h2>
      Our Core Values
    </h2>
  </header>
  <div class="section-content">
    <div class="d-flex gap-2 flex-column flex-md-row justify-content-center">
      <div class="card col-12 col-md-4">
        <div class="card-header px-1">
          <span class="card-title h4">Amazing Stylists</span>
        </div>
        <div class="card-body">
          <p class="card-text">
            We are serious about <b>striving to be the best</b> in the area.
            We have high standards and are committed to ongoing education because the industry, techniques, and trends are always evolving.
          </p>
        </div>
      </div>
      <div class="card col-12 col-md-4">
        <div class="card-header px-1">
          <span class="card-title h4">Straight Talk</span>
        </div>
        <div class="card-body">
          <p class="card-text">
            We promote a culture of being <b>professionally honest</b> with our clients and our staff.
            We discuss your goals and challenges and then provide professional advice that is specific to your needs.
          </p>
        </div>
      </div>
      <div class="card col-12 col-md-4">
        <div class="card-header px-1">
          <span class="card-title h4">Excellent Service</span>
        </div>
        <div class="card-body">
          <p class="card-text">
            We want you to be <b>completely satisfied</b> with every aspect of our salon.
            If we ever fail to meet this goal, we want to know about it right away, so we can improve and do our best to make it right.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>