<section class="site-section about-section next-section-indicator" id="services">
  <div class="container">

    <div class="row text-center">

      <header class="section-header">
        <h2>{{ site.services-title }}</h2>
        <hr class="normal">
      </header>

      <div class="section-content">
        <h3 class="lead">{{ site.services-description-short }}</h3>
        <blockquote cite="{{ site.baseurl }}">
          {{ site.services-description-long }}
        </blockquote>
      </div>

    </div>

  </div>
</section>