<section class="site-section about-section text-center" id="services">
  <header class="section-header">
    <h2>
      Services
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Services provided at our salon.
    </h3>
    <blockquote cite="{{ site.url }}">
      Our salon is designed to provide a modern upscale atmosphere with premium equipment and brands that are optimal for colorists and our clients.
      Aside from standard services like hair cuts, coloring, and perms, our specialty services include highlights, lowlights, ombre, color melts, blonding, balayage, keratin straightening, and emergency color corrections.
    </blockquote>
  </div>
</section>