<section class="site-section team-section" id="{{- include.id -}}">
    <header class="section-header">
        <h2>{{- include.title -}}</h2>
    </header>
    <div class="section-content">
        <div class="row d-flex justify-content-center">
            {%- for team_member in include.members -%}
            <div class="card text-center col-11 col-md-5">
                <img class="card-img-top" src="{% link {{ team_member.image }} %}" width="600" height="600" alt="{{ team_member.name }}">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex flex-row align-self-center">
                            <div class="flex-grow-1">
                                <p class="member-name">
                                    {{- team_member.name -}}
                                </p>
                            </div>
                            <div class="d-flex flex-row flex-grow-0 justify-content-end align-self-center">
                                {%- if team_member.email %}
                                <a href="mailto:{{ team_member.email }}" aria-label="{{ team_member.name }} - Email" target="_blank">
                                    <img src="{% link {{ site.email-image }} %}" alt="{{ team_member.name }} - Email" height="100" width="100">
                                </a>
                                {% endif -%}
                                {%- if team_member.instagram %}
                                <a href="{{ team_member.instagram }}" aria-label="{{ team_member.name }} - Instagram" target="_blank">
                                    <img src="{% link {{ site.instagram-image }} %}" alt="{{ team_member.name }} - Instagram" height="100" width="100">
                                </a>
                                {% endif -%}
                                {%- if team_member.linkedin %}
                                <a href="{{ team_member.linkedin }}" aria-label="{{ team_member.name }} - LinkedIn" target="_blank">
                                    <img src="{% link {{ site.linkedin-image }} %}" alt="{{ team_member.name }} - LinkedIn" height="100" width="100">
                                </a>
                                {% endif -%}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-self-center">
                            <p class="member-title">
                                {{- team_member.title -}}
                            </p>
                        </div>
                    </div>
                    <p class="card-text">{{ team_member.content }}</p>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>