<footer class="site-footer" id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        <div class="footer-logo">
          <img loading="lazy" src="{{ site.baseurl }}/images/logo-focus.svg" width="250px" alt="Cocoa Color Lab Logo" />
        </div>

        <div class="footer-info-text">
          <p>{{ site.footer-description }}</p>
        </div>

        <div class="social-icons">
          <ul class="icons">
            <li><a href="{{ site.facebook }}" aria-label="Facebook" target="_blank"><i class="bi bi-facebook"></i></i></a></li>
            <li><a href="{{ site.instagram }}" aria-label="Instagram" target="_blank"><i class="bi bi-instagram"></i></i></a></li>
            <li><a href="{{ site.tiktok }}" aria-label="TikTok" target="_blank"><i class="bi bi-tiktok"></i></i></a></li>
            <li><a href="{{ site.youtube }}" aria-label="YouTube" target="_blank"><i class="bi bi-youtube"></i></i></a></li>
          </ul>
        </div>

      </div>

      <div class="col-md-8 col-md-push-2 footer-legal">
        <div class="footer-text text-center">
          <p><a href="{{ site.baseurl }}/legal/privacy">Privacy Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{{ site.baseurl }}/legal/terms">Terms of Use</a></p>
          <p>Copyright &copy; {{ site.footer-copyright-year }} by {{ site.footer-copyright-text }}</p>
        </div>
      </div>
    </div>

  </div>
</footer>

{%- comment -%} Go To Top Button {% endcomment %}
<a href="#home" aria-label="Go To Top" class="go-to-top-button"><i class="bi bi-chevron-up"></i></a>
