<head>
  {% include google-analytics.html %}

  {%- comment -%} General Metadata {% endcomment %}
  <meta charset="utf-8" />
  <title>{{ page.title | strip_html }}</title>
  <meta name="title" content="{{ page.title | strip_html }}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <meta http-equiv="Cache-Control" content="max-age=7200">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" media="print" rel="stylesheet">

  {% unless page.image == empty %}
  <link rel="image_src" href="{{ page.image }}">
  {% endunless %}

  {%- comment -%} Geo Location Meta {% endcomment %}
  <meta name="DC.title" content="{{ page.title | strip_html }}" />
  <meta name="geo.region" content="US-FL" />
  <meta name="geo.placename" content="Cocoa" />
  <meta name="geo.position" content="28.392256799126535;-80.74822732523504" />
  <meta name="ICBM" content="28.392256799126535, -80.74822732523504" />
  <meta name="city" content="Cocoa">
  <meta name="state" content="Florida">
  <mata name="zipcode" content="32922" />

  {%- comment -%} Open Graph Metadata {% endcomment %}
  <meta property="og:locale" content="{{ site.lang | replace: "-", "_" }}" />
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  {% unless page.description == empty %}
  <meta property="og:description" content="{{ page.description | strip_newlines | truncatewords:200 }}">
  {% endunless %}
  {%- unless page.image == empty -%}
  <meta property="og:image" content="{{ page.image }}">
  {% endunless %}
  {%- if page.youtubeid -%}
  <meta property="og:video" content="https://youtu.be/{{ page.youtubeid }}">
  {% endif %}

  {%- comment -%} Twitter Metadata {% endcomment %}
  <meta name="twitter:site" content="{{ site.twitter | split: '/' | last }}">
  <meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  {% unless page.description == empty %}
  <meta name="twitter:description" content="{{ page.description | strip_newlines | truncatewords:200 }}">
  {% endunless %}
  {%- unless page.image == empty -%}
  <meta name="twitter:image" content="{{ page.image }}">
  {% endunless %}

  {%- comment -%} Importing Styles {% endcomment %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  {%- comment -%} see: https://realfavicongenerator.net/ {% endcomment %}
  <link rel="icon" sizes="any" type="image/svg+xml" href="/images/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=2023.05.08.21">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=2023.05.08.21">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=2023.05.08.21">
  <link rel="manifest" href="/images/favicon/site.webmanifest?v=2023.05.08.21">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=2023.05.08.21" color="#5bbad5">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico?v=2023.05.08.21">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=2023.05.08.21">
  <meta name="theme-color" content="#ffffff">
</head>