{%- comment %} jQuery CDN {% endcomment -%}
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{%- comment %} Owl Carousel {% endcomment -%}
<script defer src="{{ site.baseurl }}/js/carousel.min.js"></script>

{%- comment %} Parallaxing {% endcomment -%}
<script defer src="{{ site.baseurl }}/js/scrollax.min.js"></script>

{%- comment %} SmoothScroll {% endcomment -%}
{% if site.smooth-scroll %}
<script defer src="{{ site.baseurl }}/js/smoothscroll.js"></script>
{% endif %}

{%- comment %} Site Specific JS {% endcomment -%}
<script defer src="{{ site.baseurl }}/js/main.js"></script>