/**
 *  Header Style
 **/

header.site-header {
  position: relative;
  width: 100vw;
  z-index: 1;

  .header-banner {
    position: absolute;
    top: 0;
    z-index: 2;
    color: $white;

    .heading-content {
      width: 80%;
      max-width: 42em;
      text-transform: uppercase;

      .heading-title {
        hr.small {
          margin: 1.75em auto;
          opacity: 1.0;
        }
      }

      .buttons-header {
        margin-top: 40px;

        .button-cta {
          width: 100%;
        }
      }
    }

    .hero-image {
      width: 100vw;
      margin: 0;
      padding: 0;
      object-fit: cover;
    }
  }

  &.hero-header {
    height: calc(100vh - 56px);

    .hero-image {
      height: calc(100vh - 56px);
    }

    .heading-content {
      padding-top: 3em;
      .heading-title {
        margin-bottom: 8em;
      }
    }
  }

  &.slim-header {
    height: 10em;
    margin-bottom: 2em;

    .hero-image {
      height: 10em;
    }

    .heading-content {
      padding-top: 2em;
      .heading-title {
        margin-bottom: 2em;
      }
    }
  }

}