/**
 *  Navbar Style
 **/

nav.navbar {
    background-color: $navbar-bg;

    .navbar-brand {
        width: auto;
        max-width: 75%;

        img {
            width: 100%;
        }
    }

    .dropdown-item {

        &.active,
        &:active {
            color: $white;
            background-color: transparentize($color: $white, $amount: 0.80);
        }
    }
}