/**
 *  General Sections Style
 **/

// Default site section styling
section.site-section {
  padding: $section-top-space $section-side-space 0;
  background: $section-bg;
  content-visibility: auto;

  // Scroll offset for navbar when collapsed
  @media (max-width: $mobile-break) {
    scroll-margin-top: $navbar-offset-collapsed;
  }

  // Scroll offset for navbar when expanded
  @media (min-width: $mobile-break) {
    scroll-margin-top: $navbar-offset-expanded;
  }

  // Section Header
  header.section-header {
    position: relative;
    text-align: center;
    text-transform: uppercase;

    border-bottom: 1px solid $light-secondary;
    margin: 0 1em 2em 1em;

    font-weight: bold;
    color: $light-primary;

    hr.normal {
      margin: 1.55em auto;
    }
  }

  .section-content {
    .lead {
      font-size: 1.25em;
      font-weight: bold;
      font-style: italic;
    }

    blockquote {
      font-size: 1.15em;
      text-align: justify;
      text-align-last: center;
    }
  }

  // Section Focus
  &.section-focus {
    background-color: $section-focus;
  }

}