/**
 *  General Sections Style
 **/

// Default site section styling
section.site-section {
  padding-top: $section-margin;
  background: $section-bg;
  z-index: 1;
  content-visibility: auto;

  // Scroll offset for navbar when collapsed
  @media (max-width: $mobile-break) {
    scroll-margin-top: $navbar-offset-collapsed;
  }

  // Scroll offset for navbar when expanded
  @media (min-width: $mobile-break) {
    scroll-margin-top: $navbar-offset-expanded;
  }

  // Section Header
  header.section-header {

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      text-transform: uppercase;
      color: $light-primary;
    }

    hr.normal {
      margin: 1.55em auto;
    }
  }

  .section-content {
    .lead {
      font-size: 1.55em;
      font-weight: bold;
      font-style: italic;
    }

    blockquote {
      font-size: 1.25em;
    }
  }

  // Section Focus
  &.section-focus {
    background-color: $section-focus;

    &.next-section-indicator:after {
      border-top-color: $section-focus;
    }
  }

  // Next Section Indicator
  &.next-section-indicator {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -30px;
      left: 50%;
      z-index: 3;
      transform: translate(-50%);
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;

      border-top: 30px solid $light-bg;
    }

  }

}