/**
 *
 *  Color Skin
 *
 **/

// Global Pallete
$white: #fff;
$black: #000;
$black-transparent:  rgba($black, 0.9);
$light-blue: #f4f8f9;

// Primary & Secondary
$primary: #474747;
$secondary: #232323;

// Gray Pallete
$text-gray: #939393;
$light-gray: #e7e7e7;
$simple-gray: #b7b7b7;
$normal-gray: #535353;
$dark-gray: #232323;

// Global Text Color
$global-text: darken($text-gray, 15%);

// Background Color
$background-color: $white;

// Sections Colors
$section-bg: $white;
$section-focus: $light-blue;

// Footer Colors
$footer-color: $text-gray;
$footer-background-color: $dark-gray;

// Sidebar Colors [Widgets]
$sidebar-header: $light-blue;
$sidebar-title: $secondary;

$shadow-color: rgba(39, 36, 36, 0.1);
