<header class="site-header slim-header" id="home">

  {%- comment %} Site Header Banner {% endcomment -%}
  <div class="header-banner">

    {% include header/hero-image.html %}

    <div class="heading-content text-center position-absolute top-50 start-50 translate-middle">

      {%- comment %} Heading Title {% endcomment -%}
      <div class="row heading-title">
        <h1 class="thin">{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="thin">
          <hr class="small">
          {{ page.subtitle }}
        </h2>
        {% endif %}
      </div>

    </div>

  </div>

</header>
