<header class="site-header parallax" id="home" data-scrollax-parent="true">

  {% include header/hero-image.html %}

  <div class="container">

    {% include header/nav-bar.html %}

    {%- comment -%} Site Header Banner {% endcomment %}
    <div class="row header-banner parent" data-scrollax="properties: { 'translateY': '48%', 'opacity': '1.4' }">

      <div class="heading-content text-center child-center-v">

        {%- comment -%} Heading Title {% endcomment %}
        <div class="row heading-title bg-transparent-black">
          <h2>{{ site.header-tagline }}</h2>
          {%- comment -%} TODO 
          <hr class="small">
          <h1 class="thin">{{ site.header-title }}</h1>
          {% endcomment %}
        </div>

        {%- comment -%} TODO 
        {%- comment -%} Header Buttons {% endcomment %}
        <div class="row buttons-header">
          <div class="col-lg-3 col-lg-push-3 col-md-4 col-md-push-2 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1"><a
              href="{{ site.header-focus-button.url }}" class="button-cta button-focus">{{
              site.header-focus-button.title }}</a></div>
          <div class="col-lg-3 col-lg-push-3 col-md-4 col-md-push-2 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1"><a
              href="{{ site.header-secondary-button.url }}" class="button-cta">{{ site.header-secondary-button.title
              }}</a></div>
        </div>
        {% endcomment %}

      </div>

    </div>

    {%- comment -%} Arrow Down {% endcomment %}
    <div class="row arrow-down-section" data-scrollax="properties: { 'opacity': '0.6' }">

      <div class="wrapper-arrow child-center">
        <a href="#about" aria-label="Skip header and go to next section" class="arrow-down">
          <i class="bi bi-chevron-down"></i>
        </a>
      </div>

    </div>

  </div>
</header>