<header class="site-header hero-header" id="home">

  {%- comment %} Site Header Banner {% endcomment -%}
  <div class="header-banner">

    {% include header/hero-image.html %}

    <div class="heading-content bg-transparent-black rounded-3">
      {%- comment %} Heading Title {% endcomment -%}
      <div class="heading-title">
        <h1 >{{ site.header-title }}</h1>
        <hr class="small">
        <div class="heading-tagline">
          <h4>{{ site.header-tagline1 }}</h4>
          <h4>{{ site.header-tagline2 }}</h4>  
        </div>
      </div>
      {%- comment %} Header Buttons {% endcomment -%}
      <div class="heading-buttons d-grid gap-2 col-auto justify-content-center">
        <button class="btn btn-light text-nowrap" type="button">
          <a href="tel:+1-321-621-4247">
            CALL 1-321-621-HAIR
          </a>
        </button>
        <button class="btn btn-light text-nowrap" type="button" data-container="body" data-bs-toggle="modal" data-bs-target="#bookingModal">
          <a href="#">
            BOOK ONLINE
          </a>          
        </button>                
      </div>
    </div>

  </div>

  {%- comment %} Arrow Down {% endcomment -%}
  <div class="arrow-down-section">
    <div class="wrapper-arrow child-center">
      <a href="#about" aria-label="Skip header and go to next section" class="arrow-down">
        <img src="{{ site.baseurl }}/images/icons/down-arrow.svg" alt="Next Section" height="100" width="100">
      </a>
    </div>
  </div>

</header>

<div class="modal fade" id="bookingModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        Booking Feature Coming Soon!!
      </div>
      <div class="modal-footer">
        <div class="container-fluid text-center">
          <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal" >OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
