<div class="row site-navigation-bar parent">

  {%- comment -%} Logo {% endcomment %}
  <div class="col-sm-4 col-xs-6 logo child-center-v">
    <a href="{{ site.baseurl }}/index.html" aria-label="Link to Main Home Page"><img src="{{ site.baseurl }}/images/logo.svg" width="500px"
        alt="{{ site.title }} Logo"></a>
  </div>

  {%- comment -%} Toggle Mobile Menu {% endcomment %}
  <div class="col-xs-6 toggle-menu child-center-v">

    {%- comment -%} Burger Menu {% endcomment %}
    <div class="navTrigger">
      <i></i><i></i><i></i>
    </div>

  </div>

  {%- comment -%} Navigation Bar {% endcomment %}
  <div class="col-sm-8 col-xs-6 navigation-bar child-center-v">

    {%- comment -%} Navigation Menu {% endcomment %}
    <nav id="navMenu" class="nav-menu">
      <ul class="menu">
        <li class="current-menu-item"><a href="{{ site.baseurl }}/#home">Home</a></li>
        <li><a href="{{ site.baseurl }}/#about">About</a></li>
        <li><a href="{{ site.baseurl }}/#portfolio">Sites</a></li>
      </ul>
    </nav>

  </div>

</div>